<!-- body -->

<div class="container">
<div class="card-group">
    <div class="card " *ngFor=" let item of products.products; let i = index">

        <div class="btn" type="button" (click)="currentProduct = i; selectItem()">
            <img class="card-img-top" [src]='item.image' alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">
                    {{item.details}}
                </p>
                <p>Available <Span>{{item.amount}}</Span> </p>
            
            </div>
            <div class="card-footer">
                <small class="text-muted">Pirce: <span>{{item.price | currency}}</span></small>
            </div>
        </div>
       
    </div>
   
</div>

</div>
<app-item [currentProducts]="currentProduct" *ngIf="this.products.viewItem" >
</app-item>




