<div class="container">
    <h1>Name</h1>
    <div class="row">
        <div class="col-lg-6">
            <img class="card-img-top" src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1638381193-b37250b6-0210-44d9-8722-4909b950eab9_xo6nfcmaubgtuscy.jpg" alt="image">
        </div>
        <div class="col-lg-6">
            <p>daitles</p>
            <h2>prise</h2>
        </div>
    </div>

    <div>
        <button type="button" class="btn btn-primary">-</button>
        <span>933</span>
        <button type="button" class="btn btn-secondary">+</button>
        <button class="btn btn-primary">Add to cart</button>
    </div>

</div>
